.slide {
  &__image {
    min-width: 46vw !important;
    width: 100%;
    height: 25rem;
    transition: all 0.6s;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
      transition: all 0.5s;
    }
  }
}

.swiper-slide-active > .slide__image > img,
.swiper-slide-next > .slide__image > img,
.swiper-slide-prev > .slide__image > img {
  height: 100%;
}
.swiper-slide-next + .swiper-slide > .slide__image > img {
  height: 90%;
}

.swiper-slide-prev-90 {
  height: 90% !important;
}

.swiper {
  overflow: visible !important;
}

.swiper__container {
  height: fit-content;
  padding: 10rem 0;
  position: relative;
  overflow-x: hidden;
}

.swiper-slide {
  transition: all 0.6s;
  left: -16%;
  filter: blur(3px) brightness(60%);
  -webkit-filter: blur(3px) brightness(60%);
  overflow: hidden;
}

.swiper-slide-active {
  width: 46vw !important;
  filter: none;
  transform: scale(1.1);
  z-index: 5;
  overflow: visible;
}

.buttons__container {
  position: absolute;
  width: 98.5vw;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);

  justify-content: space-between;
  display: flex;
}

.swiper-button-next {
  color: #fff;
  right: 1rem;
  background: transparent;
  border: none;
}
.swiper-button-prev {
  color: #fff;
  left: 1rem;
  background: transparent;
  border: none;
}

.slide__title {
  position: absolute;
  top: -21%;
  white-space: nowrap;
  right: 50%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  transform: translateX(50%);
}
.slide__date {
  position: absolute;
  bottom: -21%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  right: 50%;
  transform: translateX(50%);
}

.title__line {
  position: absolute;
  top: -12%;
  right: 50%;
  transform: translateX(50%);
}

.date__line {
  position: absolute;
  bottom: -12%;
  right: 50%;
  transform: translateX(50%);
}
